<div class="page-header">
  <h3>Cycle Time #<%= @cycle_time.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Ct ds 40</dt>
      <dd><%= @cycle_time.ct_ds_40 %></dd>

      <dt>Ct ds 53</dt>
      <dd><%= @cycle_time.ct_ds_53 %></dd>

      <dt>Conv</dt>
      <dd><%= @cycle_time.conv %></dd>

      <dt>Scenario</dt>
      <dd><%= @cycle_time.scenario %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cycle_times" class="btn btn-primary">
        Back
      </a>
      <a href="/cycle_times/<%= @cycle_time.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cycle_time/<%= @cycle_time.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
