<div class="page-header">
  <h3>Seasonality #<%= @seasonality.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Seas ds 40</dt>
      <dd><%= @seasonality.seas_ds_40 %></dd>

      <dt>Seas ds 53</dt>
      <dd><%= @seasonality.seas_ds_53 %></dd>

      <dt>Conv</dt>
      <dd><%= @seasonality.conv %></dd>

      <dt>Name</dt>
      <dd><%= @seasonality.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/seasonalities" class="btn btn-primary">
        Back
      </a>
      <a href="/seasonalities/<%= @seasonality.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_seasonality/<%= @seasonality.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
